body{
      padding: 0px;
      margin: 0px;
      background-color: #000000;
}

main{
      padding: 33px;
      margin: 0px;
     display: flex;
     justify-content: space-around;
     text-align: center;
     background: url('./image/21621.jpg') bottom center fixed;
     background-size: 110%;
     background-position: left 70px bottom 0px;

     
   
     background-repeat: no-repeat;
}

main img{
      height: 229px;
      margin-bottom: -90px;
}

#scor-div{
      padding-top: 110px;
}
#scor-div div{
       background-color: #4b444f27;
       padding: 12px;
       padding-bottom: 63px;
       border-radius: 90px;
       box-shadow: 0px 0px 32px rgba(194, 179, 197, 0.269);
}

#p1{
       width: 384px;
       color: #ffffff80;
       font-size: 22px;
       font-family: "Irish Grover", system-ui;

}


main h3{
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-size: 33px;
      display: flex;
      justify-content: center;
      color: #AA04D7;
      font-style: normal;
      align-items: center;
      margin-bottom: -10px;
}   



main h1{
    padding-bottom: 18px;
}
.contener{
     background-color: rgba(95, 88, 98, 0.048);
     width: 49%;
     padding: 23px;
     border-radius: 34px;
     box-shadow:0px 0px 22px #ffffff1c;
}
.contener div{
      color: #AA04D7;
      text-align: center;
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;
      font-size: 9px;
}
.carts{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(4,1fr);
      column-gap: 13px;
      row-gap: 23px;
      padding: 40px;
      padding-top:12px;
      padding-bottom: 40px;
}

.cart{
    border: 1px solid #AA04D7;
    margin: 0px;
    padding: 0px;
    border-radius: 12px;
    height: 134px;
}

.cart:hover{
    transition: 0.3s;
    scale: 1.06;
    box-shadow: 0px 0px 26px rgba(208, 27, 196, 0.619);
    cursor: pointer;
}

.cart img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
}

.Rplay{
     text-align: center;   
}

.Rplay button{
      color: #AA04D7;
      text-align: center;
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;
      padding: 3px;
      padding-left: 53px;
      padding-right: 53px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgba(255, 255, 255, 0.422);
      border-radius: 23px;
      font-size: 14px;
}

.Rplay button:hover{
      color: #ffffff;
      background-color: #6819809a;
      cursor: pointer;
      
}

main #span{
     background-color: rgba(93, 86, 86, 0.242);
     display: inline;
     padding-top: 6px;
     border-radius: 23px;
     color: #934fa6;
     width:119px;
     height: 43px;
     margin-left:28px; 
    
}

main p{
        color: #ffffff;
}

